@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: gratscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slick-dots li button {
  background-color: #46a358 !important;
  opacity: 30%;
}
.slick-active button {
  background-color: #46a358 !important;
}
.ant-slider-track {
  border: 2px solid #46a358;
}

.ant-slider .ant-slider-handle::after {
  box-shadow: 0 0 0 2px #46a358;
}

.ant-slider .ant-slider-handler-1::after:hover {
  box-shadow: 0 0 0 2px #46a358;
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  border-color: #46a358;
  background-color: #46a358;
}
.ant-radio-wrapper:hover .ant-radio-inner {
  border-color: #46a358;
}

.ant-skeleton-image-svg {
  padding: 10px;
}
